{
  "eaasBackendURL": "{{ protocol }}{{ ui.hostname }}:{{ docker.port }}/emil/",
  "stopEmulatorRedirectURL":"{{ protocol }}{{ ui.hostname }}:{{ docker.port }}/admin/",
  "dashboardClusterAPIBaseURL" : "{{ protocol }}{{ ui.hostname }}:{{ docker.port }}/eaas/api/v1/clusters/",
  "dashboardAccessToken": "x",
{% if eaas.oaipmhProvider is defined and eaas.oaipmhProvider %}
  "oaipmhServiceBaseUrl" : "{{ protocol }}{{ ui.hostname }}:{{ docker.port }}/oaipmh/",
{% endif %}
{% if ui.landing_page | default(false) %}
  "landingPage": "{{ protocol }}{{ ui.hostname }}:{{ eaasPort }}/citar-headless-client/",
{% endif %}
  "features" : {
    "screenshots": true,
    "snapshots": false,
    "containers": false,
    "objectEnvironments": true,
    "objects": true,
    "network": true,
    "software" : true,
    "objectUpload" : true,
    "advanced" : false,
    "oaipmh" : true,
    "emulators" : true
    {% if handle_key | default(false) %}
    , "handle": true
    {% endif %}
  },

  "baseEmulatorUrl" : "{{ protocol }}{{ ui.hostname }}:{{ docker.port }}/admin/",
  "softwareArchiveId" : "{{ eaas.softwareArchiveId | default('default') }}"
}
