      - name: bwcloud
        type: jclouds

        node_allocator:
            healthcheck:
                url_template: {%raw%}"http://{{address}}/emucomp/health"{%endraw%}

            provider:
                name: openstack-nova
                endpoint: "{{ clusterProvider.bwCloud.endpoint }}"
                identity: "{{ clusterProvider.bwCloud.identity }}"
                credential: "{{ clusterProvider.bwCloud.credential }}"

            security_group_name: default
            node_group_name: eaas-nodes
            node_name_prefix: eaas-testing-

            vm:
                network_id: 6a68b40c-356f-4d4c-95e9-e5c72855fb35
                hardware_id: Freiburg/3043b007-5ed1-4785-9cd8-0ed18aad283f  # 16 vcpus / 32 GB
                image_id: Freiburg/fb57aa3e-7856-44e7-8e73-4a3eea005917  # emucomp

        poolscaler:
            min_poolsize: 1
            max_poolsize: 5
            scaledown:
                node_warmup_period: 2 mins
                node_cooldown_period: 1 mins

clustermanager.providers.defaults.all.protocol: "http://"